.transactions-view {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  height: 100%;
}

.transactions-wrapper {
  flex-grow: 1;
  width: 100%;
}

.transactions-view-skeleton {
  display: flex;
  gap: 24px;
}

@media (max-width: 768px) {
  .transactions-view {
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
  }

  .transactions-wrapper {
    order: 1;
    max-width: 100%;
    flex-grow: 1;
    overflow: auto;
  }

  .transactions-view-skeleton {
    flex-direction: column;
  }
}
