.transactions-view {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.transactions-wrapper {
  flex-grow: 1;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
}

.transactions-table td,
.transactions-table th {
  padding: 4px 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.transactions-actions {
  display: flex;
  margin-bottom: 20px;
}

.transactions-actions__block {
  display: flex;
  gap: 12px;
}

.transactions-actions__block--add {
  margin-left: auto;
}

.balance-modal {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 36px;
  padding: 0 24px 24px;
}

.balance-modal__totals-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.balance-accounts__list {
  margin-bottom: 24px;
}

.balance-accounts__item {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 3fr 2fr 2fr;
  padding: 4px 8px;
}

.balance-modal__curr-item {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding: 4px 8px;
}

.balance-accounts__item:nth-child(odd) {
  background-color: #f7f7f7;
}

.balance-accounts__name {
  padding-right: 8px;
}

.balance-modal__block-title,
.balance-accounts__title {
  text-align: center;
  margin-bottom: 0.7em;
}

.balance-accounts__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.category-modal,
.converter-modal {
  min-width: 400px;
  max-height: 400px;
  overflow: auto;
  padding: 0 24px 24px;
}

.category-modal__item {
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-modal__item:nth-child(odd) {
  background-color: #f7f7f7;
}

.converter-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  width: 360px;
  position: sticky;
  height: 100%;
  top: 88px;
}

.filters__date-picker-range {
  display: flex;
  align-items: center;
  gap: 4px;
}

.new-transaction-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 0 24px 24px;
}

.new-transaction-modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.new-transaction-modal__fields {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 36px 36px 36px;
  align-items: center;
  gap: 12px;
}

.edit-transaction-modal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  padding: 0 24px 24px;
}

.delete-transaction-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;  padding: 0 24px 24px;
}

.no-space {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.no-space__info {
  text-align: center;
}
.no-space__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}