.transactions-view {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  height: 100%;
}

.transactions-wrapper {
  flex-grow: 1;
  width: 100%;
}

.transactions-view-skeleton {
  display: flex;
  gap: 24px;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
}

.transactions-table td,
.transactions-table th {
  padding: 4px 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.transactions-actions {
  display: flex;
  margin-bottom: 20px;
}

.transactions-actions__block {
  display: flex;
  gap: 12px;
  align-items: center;
}

.transactions-actions__block--add {
  margin-left: auto;
}

.category-modal,
.converter-modal {
  min-width: 400px;
  max-height: 400px;
  overflow: auto;
  padding: 0 24px 24px;
}

.category-modal__item {
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.converter-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  display: none;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  width: 360px;
  position: sticky;
  height: 100%;
  top: 88px;
}

.filters--visable {
  display: flex;
}

.filters__date-picker-range {
  display: flex;
  align-items: center;
  gap: 4px;
}

.new-transaction-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 24px;
  min-width: 80vw;
  max-height: 80vh;
  overflow: auto;
}

.new-transaction-modal__fields {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 108px;
  gap: 12px;
}

.edit-transaction-modal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  padding: 0 24px 24px;
  min-width: 80vw;
}

.delete-transaction-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 24px 24px;
}

.no-space {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.no-space__info {
  text-align: center;
}
.no-space__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .transactions-view {
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
  }

  .filters {
    position: static;
    order: 0;
    width: 100%;
  }

  .filters-wrapper {
    width: 100%;
  }

  .transactions-wrapper {
    order: 1;
    max-width: 100%;
    flex-grow: 1;
    overflow: auto;
  }

  .transactions-actions__block {
    gap: 4px;
  }

  .transactions-actions {
    margin-bottom: 8px;
  }

  .transactions-view-skeleton {
    flex-direction: column;
  }

  .category-modal {
    min-width: calc(100vw - 32px);
  }

  
  .new-transaction-modal {
    padding: 12px;
  }

  .new-transaction-modal__fields,
  .edit-transaction-modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
