.u-modal {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.u-modal__title {
    margin-bottom: 1rem;
    text-align: center;
}

.u-modal .u-button {
    position: absolute;
    top: 0;
    right: 0;
}