.invitations-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 50vh;
    overflow: auto;
}

.invitations-item {
    display: flex;
    align-items: flex-start;
}

.invitations-item__date {
    margin-right: 12px;
}

.invitations-item__data {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.invitations-item__message {
    font-size: 14px;
    color: var(--mui-palette-grey-400);
}

.invitations-item__actions {
    display: flex;
    gap: 4px;
    margin-left: auto;
    flex-shrink: 0;
}